.header {
  border: 1px solid none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1px;
  background: linear-gradient(
    to top,
    var(--color-very-light-purple),
    var(--color-white-purple)
  );
}

.header__name {
  border: 1px solid none;
  flex-grow: 2;
  margin: 20px;
}

.header__main-nav {
  border: 1px solid none;
  gap: 50px;
  flex-grow: 1;
  margin: 10px;
}
