.main-nav {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*ist es hier besser in utilities und dann in alle drei einzeln?*/
.main-nav > * {
  flex-grow: 1;
  flex-basis: 0;
}
