.summary {
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, var(--color-very-light-purple), var(--color-white-purple));
}

/* check noch mal, ob das Bild auch etwas kleiner geht*/
.summary__image {
  flex: 1;
  text-align: center;
}

.summary__text {
  padding: 8px 12px;
}

/*check ob das Bild angepasst werden kann, damit es nicht so groß wird*/
.summary-image--design {
  border-radius: 120px;
  box-shadow: 0px 0px 30px var(--color-dark-purple);
  display: flex;
  margin: auto;
  width: 100%;
  height: auto;
  max-height: 100%;
  min-width: 100%;
}
