:root {
  --color-dark-purple: #240e41;
  --color-grey-purple: #493d55;
  --color-light-purple: #e7d8f6;
  --color-light-grey-purple: #6c5d7cea;
  --color-very-light-purple: #79708f;
  --color-white-purple: #dcd5db;
}
